{% extends 'core/base-barra.html' %}
{% load static %}
{% block title %}Escriba la nueva contraseña{% endblock %}
{% block content %}
<style>.errorlist{color:red;}</style>
<div class="container-fluid">
    <div class="row">
      <div class="col-3 mx-auto mt-5 text-center">
        <a href="{% url 'home' %}" class="text-decoration-none"><h1 class="font-weight-bold font-italic display-3"><span class="text-primary">Pa</span><span class="text-success">’Ya</span></h1></a>
        {% if request.user.is_authenticated %}
            <h3>Debes cerrar la sesión actual para poder reestablecer una contraseña.</h3>
            <h4>¿Quieres cerrar sesión?</h4>
            <p>Si, deseo <a href="{% url 'logout'%}">Cerrar sesión</a> y reestablecer una contraseña.</p>
            <p>No, deseo <a href="{% url 'home'%}">Volver a inicio</a>, llegué aquí accidentalmente.</p>
        {% else %}
        {% if validlink %}
          <form action="" method="post">{% csrf_token %}
            <h3 class="mb-4">Escriba la nueva contraseña</h3>
            <p>Por favor, introduzca su contraseña nueva dos veces para verificar que la ha escrito correctamente.</p>
            {{form.new_password1.errors}}
            <div class="form-group my-0 py-2">
                <input type="password" name="new_password1" required class="form-control" id="id_new_password1" placeholder="Nueva contraseña">
            </div>
            {{form.new_password2.errors}}
            <div class="form-group my-0 py-2">
                <input type="password" name="new_password2" required class="form-control" id="id_new_password2" placeholder="Repite la nueva contraseña">
            </div>
            <button type="submit" class="btn btn-primary btn-block my-3">Cambiar mi contraseña</button>
          </form>
        {% else %}
          <h3 class="mb-4">Restablecimiento de contraseñas fallido</h3>
          <p>El enlace de restablecimiento de contraseña era inválido, seguramente porque se haya usado antes. Por favor, solicite un nuevo restablecimiento de contraseña <a href="{% url 'password_reset' %}">aquí</a>.</p>
        {% endif %}
        {% endif %}
      </div>
    </div>
</div>
{% endblock %}