{% autoescape off %}
Reestablecer contraseña de {{ user }}
Para iniciar el proceso de reestablecimiento de tu contraseña de Pa'Ya, haz click en el siguiente enlace:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
Si tu no has solicitado un reestablecimiento puede que alguien más haya escrito mal su correo al solicitarlo, recuerda no compartir tus contraseñas con nadie nunca.
Si el enlace anterior no funciona, necesitarás copiarlo manualmente.
A tu servicio,
El equipo de Pa'Ya
{% endautoescape %}