{% extends 'core/base-barra.html' %}
{% load static %}
{% block title %}Restablecimiento de contraseña completado{% endblock %}
{% block navbar %}{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
      <div class="col-3 mx-auto mt-5 text-center">
        <a href="{% url 'home' %}" class="text-decoration-none"><h1 class="font-weight-bold font-italic display-3"><span class="text-primary">Pa</span><span class="text-success">’Ya</span></h1></a>
        {% if request.user.is_authenticated %}
            <h3>Debes cerrar la sesión actual para poder reestablecer una contraseña.</h3>
            <h4>¿Quieres cerrar sesión?</h4>
            <p>Si, deseo <a href="{% url 'logout'%}">Cerrar sesión</a> y reestablecer una contraseña.</p>
        {% else %}
        <h3 class="mb-4">Restablecimiento de contraseña completado  </h3>
        <p>Su contraseña ha sido establecida. Ahora puede seguir adelante e iniciar sesión.</p>
        <p><a href="{% url 'login' %}">Iniciar sesión</a></p>
        {% endif %}
      </div>
    </div>
</div>
{% endblock %}