{% extends 'core/base-barra.html' %}
{% load static %}
{% block title %}Restablecer contraseña{% endblock %}
{% block content %}
<style>.errorlist{color:red;}</style>
<div class="container-fluid">
    <div class="row">
      <div class="col-3 mx-auto mt-5 text-center">
        <a href="{% url 'home' %}" class="text-decoration-none"><h1 class="font-weight-bold font-italic display-3"><span class="text-primary">Pa</span><span class="text-success">’Ya</span></h1></a>
        {% if request.user.is_authenticated %}
            <h3>Debes cerrar la sesión actual para poder reestablecer una contraseña.</h3>
            <h4>¿Quieres cerrar sesión?</h4>
            <p>Si, deseo <a href="{% url 'logout'%}">Cerrar sesión</a> y reestablecer una contraseña.</p>
            <p>No, deseo <a href="{% url 'home'%}">Volver a inicio</a>, llegué aquí accidentalmente.</p>
        {% else %}
        <form action="" method="post">{% csrf_token %}
          <h3 class="mb-4">Restablecer contraseña</h3>
          <p>¿Ha olvidado su clave? Introduzca su dirección de correo a continuación y le enviaremos por correo electrónico las instrucciones para establecer una nueva.</p>
          {{ form.email.errors }}
          <div class="form-group my-0 py-2">
              <input type="email" name="email" maxlength="254" required class="form-control" id="id_email" placeholder="Introduce tu correo electrónico">
          </div>
          <button type="submit" class="btn btn-primary btn-block my-3">Confirmar</button>
        </form>
        {% endif %}
      </div>
    </div>
</div>
{% endblock %}