{% extends 'core/base.html' %}

{% block content %}
    <div class='top'>
        <div class='midle'>
            <div class= 'in'>
            <center><FONT SIZE=23>
            <i class="fas fa-bullseye" style="justify-content: center;color: #009AD0">
            </i></FONT><br></FONT>
            
            
            <h3>Te damos la bienvenida a APP</h3>
            <h5 style="color:grey">Encuentra todo lo que necesitas <br>	
            <strong style="color: black">Registrate </strong></h5>
            </center>
                    <form action="" method="post">
                    {% csrf_token %}
                    
                    {{ form.as_p }}
                    <center>
                        <button type="submit" class='btn btn-primary'>Confirmar</button>
                    </center>
                    </form>
            </div>
        
{% endblock %}