{% extends 'core/base.html' %}
{% load static %}
{% block navbar %}
    {% if request.user.is_authenticated %}
        {% include 'core/navbar.html' %}
    {% endif %}
{% endblock %}
{% block content %}
{% if request.user.is_authenticated %}
<div class="col-3 mx-auto mt-5 text-center">
    <img src="{% static 'core/img/Logo-Paya-Single2.png' %} " height="60" width="160" alt="">  
    <h2>Debe finalizar la Sesión actual para registrar a un nuevo usuario.</h2>
    <a href="{% url 'logout'%}">Cerrar Sesión</a>
</div>
{% else %}
    <div class="col-3 mx-auto mt-5 text-center">
        <img src="{% static 'core/img/Logo-Paya-Single2.png' %} " height="60" width="160" alt="">  
        <h3>Bienvenido</h3>
        <h5 class="text-secondary">Para comprar y vender Ya<br>	
        <strong>Registrate </strong></h5>
        <form  method="post">
            {% csrf_token %}
            <div class="form-group my-0 py-2">
                <input type="email" name="email" aria-describedby="emailHelp" maxlength="100" autofocus required class="form-control" id="id_email" placeholder="Correo electrónico">
                <small id="emailHelp" class="form-text text-muted">ejmplo@mail.com</small>
            </div>
            <div class="row">
                <div class="col-6 pr-1 mr-0">
                    <div class="form-group my-0 py-2">
                        <input type="text" name="first_name" maxlength="50" required class="form-control" id="id_first_name" placeholder="Nombre">
                    </div>
                </div>
                <div class="col-6 pl-1 ml-0">
                    <div class="form-group my-0 py-2">
                        <input type="text" name="last_name" maxlength="50" required class="form-control" id="id_last_name" placeholder="Apellido">
                    </div>
                </div>
            </div>
            <div class="form-group my-0 py-2 text-left">
                <label for="birth_date" >Fecha de nacimiento</label>
                <input type="date" name="birth_date" required class="form-control" id="id_birth_date">
            </div>
            <div class="form-group my-0 py-2">
                <input type="text" name="phone_number" maxlength="8" minlength="8" required class="form-control" id="id_phone_number" placeholder="Número de teléfono">
                 <small id="phone_numberHelp" class="form-text text-muted">99999999</small>
            </div>
            <div class="form-group my-0 py-2">
                <textarea class= 'form-control' name="address" rows="1" required id="id_address" placeholder="Dirección"></textarea>
            </div>
            <div class="row">
                <div class="col-6 pr-1 mr-0 text-left">
                    <div class="form-group my-0 py-2">
                        <input type="password" name="password1" required class="form-control" id="id_password1" aria-describedby="passwordHelp" placeholder="Contraseña">
                        <small id="passwordHelp" class="form-text text-muted">Mínimo 8 carcateres</small>
                    </div>
                </div>
                <div class="col-6 pl-1 ml-0">
                    <div class="form-group my-0 py-2">
                        <input type="password" name="password2" required class="form-control" id="id_password2" placeholder="Confirmar contraseña">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block my-3">Registrarte</button>
            <a href="{% url 'login' %}">Iniciar Sesion</a>
        </form>
        
        <script>
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth()+1; //January is 0!
            var yyyy = today.getFullYear();
             if(dd<10){
                    dd='0'+dd
                } 
                if(mm<10){
                    mm='0'+mm
                } 

            today = yyyy+'-'+mm+'-'+dd;
            document.getElementById("id_birth_date").setAttribute("max", today);    
        </script>
        
    </div>
{% endif %}     
{% endblock %}
