{% extends 'core/base-barra.html' %}
{% load static %}
{% block title %}

Terminos y Servicios

{% endblock %}
{% block navbar %}
{% endblock %}

{% block content %}
<h1 class=" col text-center">Terminos y Servicios</h1>
<div>
    <h2> <font color="dark blue"> Informacion General</font> </h2>
    <h4  align='justify'><samp><font color="grey", size="4px">
        Este sitio web es operado por PA'YA. En todo el sitio, los términos “nosotros”, “nos” y
        “nuestro” se refieren a PA'YA. PA'YA ofrece este sitio web, incluyendo toda la información,
        herramientas y servicios disponibles para ti en este sitio, el usuario, está condicionado 
        a la aceptación de todos los términos, condiciones, políticas y notificaciones aquí 
        establecidos.
<br>
<br>
        Al visitar nuestro sitio y/o comprar algo de nosotros, participas en nuestro “Servicio” y 
        aceptas los siguientes términos y condiciones (“Términos de Servicio”, “Términos”), incluidos 
        todos los términos y condiciones adicionales y las polítias a las que se hace referencia en el
        presente documento y/o disponible a través de hipervínculos. Estas Condiciones de Servicio se
        aplican a todos los usuarios del sitio, incluyendo si limitación a usuarios que sean navegadores,
        proveedores, clientes, comerciantes, y/o colaboradores de contenido.
<br>
<br>
        Por favor, lee estos Términos de Servicio cuidadosamente antes de acceder o utilizar nuestro sitio web.
        Al acceder o utilizar cualquier parte del sitio, estás aceptando los Términos de Servicio. 
        Si no estás de acuerdo con todos los términos y condiciones de este acuerdo, entonces no deberías 
        acceder a la página web o usar cualquiera de los servicios. Si las Términos de Servicio son
        considerados una oferta, la aceptación está expresamente limitada a estos Términos de Servicio.
<br>
<br>

        Cualquier función nueva o herramienta que se añadan a la tienda actual, también estarán sujetas a los Términos de Servicio. Puedes revisar la versión actualizada de los Términos de Servicio, en cualquier momento en esta página. Nos reservamos el derecho de actualizar, cambiar o reemplazar cualquier parte de los Términos de Servicio mediante la publicación de actualizaciones y/o cambios en nuestro sitio web. Es tu responsabilidad chequear esta página periódicamente para verificar cambios. Tu uso continuo o el acceso al sitio web después de la publicación de cualquier cambio constituye la aceptación de dichos cambios.
        Nuestra tienda se encuentra alojada en Pa'Ya. Ellos nos proporcionan la plataforma de comercio electrónico en línea, que nos permite venderte nuestros productos y servicios.

    </font></samp></h4>
</div>
<br>
<div>
    <h2> <font color="dark blue"> Terminos de la Tienda en Linea </font> </h2>
    <h4  align='justify'><samp><font color="grey", size="4px">
        Al utilizar este sitio, declaras que tienes al menos la mayoría de edad en tu estado 
        o provincia de residencia, o que tienes la mayoría de edad en tu estado o provincia de 
        residencia y que nos has dado tu consentimiento para permitir que cualquiera de tus
        dependientes menores use este sitio.
<br>
<br>
        No puedes usar nuestros productos con ningún propósito ilegal o no autorizado tampoco puedes,
        en el uso del Servicio, violar cualquier ley en tu jurisdicción (incluyendo pero no limitado
        a las leyes de derecho de autor).
<br>
        No debes transmitir gusanos, virus o cualquier código de naturaleza destructiva.
<br>
        El incumplimiento o violación de cualquiera de estos Términos darán lugar al cese inmediato
        de tus Servicios.

</div>
<br>
<div>
    <h2 align='center'> <font color="dark blue"> Condiciones Generales </font> </h2>
    <h4  align='justify'><samp><font color="grey", size="4px">
        Nos reservamos el derecho de rechazar la prestación de servicio a cualquier persona, 
        por cualquier motivo y en cualquier momento.
<br>
<br>
        Entiendes que tu contenido (sin incluir la información de tu tarjeta de crédito), 
        puede ser transferida sin encriptar e involucrar (a) transmisiones a través de varias redes; 
        y (b) cambios para ajustarse o adaptarse a los requisitos técnicos de conexión de redes o 
        dispositivos. La información de tarjetas de crédito está siempre encriptada durante la 
        transferencia a través de las redes.
<br>
<br>
        Estás de acuerdo con no reproducir, duplicar, copiar, vender, revender o explotar cualquier
         parte del Servicio, uso del Servicio, o acceso al Servicio o cualquier contacto en el sitio 
         web a través del cual se presta el servicio, sin el expreso permiso por escrito de nuestra parte.
<br>
        Los títulos utilizados en este acuerdo se incluyen solo por conveniencia y no limita o 
        afecta a estos Términos.

    </font></samp></h4>
</div>
<br>
<div>
    <h2> <font color="dark blue"> Exactitud, Exhaustividad y actualizacion de la informacion </font> </h2>
    <h4  align='justify'><samp><font color="grey", size="4px">
        No nos hacemos responsables si la información disponible en este sitio no es exacta,
        completa o actual.  El material en este sitio es provisto solo para información general 
        y no debe confiarse en ella o utilizarse como la única base para la toma de decisiones 
        sin consultar primeramente, información más precisa, completa u oportuna. Cualquier 
        dependencia en el materia de este sitio es bajo su propio riesgo.
<br>
<br>
        Este sitio puede contener cierta información histórica. La información histórica, no es 
        necesariamente actual y es provista únicamente para tu referencia. Nos reservamos el derecho
        de modificar los contenidos de este sitio en cualquier momento, pero no tenemos obligación 
        de actualizar cualquier información en nuestro sitio.  Aceptas que es tu responsabilidad de
        monitorear los cambios en nuestro sitio.
    </font></samp></h4>
</div>
<br>
<div>
    <h2> <font color="dark blue"> Modificaciones al servicio y precios </font> </h2>
    <h4  align='justify'><samp><font color="grey", size="4px">
        Los precios de nuestros productos están sujetos a cambio sin aviso.
<br>
<br>
        Nos reservamos el derecho de modificar o discontinuar el Servicio 
        (o cualquier parte del contenido) en cualquier momento sin aviso previo.
<br>           
        No seremos responsables ante ti o alguna tercera parte por cualquier modificación, 
        cambio de precio, suspensión o discontinuidad del Servicio.
        
    </font></samp></h4>
</div>
<br>
<div>
    <h2 align='center'> <font color="dark blue"> Productos y Servicios </font> </h2>
    <h4  align='justify'><samp><font color="grey", size="4px">               
        Ciertos productos o servicios pueden estar disponibles exclusivamente en línea a través 
        del sitio web. Estos productos o servicios pueden tener cantidades limitadas y estar sujetas
        a devolución o cambio de acuerdo a nuestra política de devolución solamente.
<br>
<br>
        Hemos hecho el esfuerzo de mostrar los colores y las imágenes de nuestros productos, en la 
        tienda, con la mayor precisión de colores posible.  No podemos garantizar que el monitor de
        tu computadora muestre los colores de manera exacta.
<br>
<br>
        Nos reservamos el derecho, pero no estamos obligados, para limitar las ventas de nuestros
        productos o servicios a cualquier persona, región geográfica o jurisdicción. 
        Podemos ejercer este derecho basados en cada caso.  Nos reservamos el derecho de limitar 
        las cantidades de los productos o servicios que ofrecemos.  Todas las descripciones de 
        productos o precios de los productos están sujetos a cambios en cualquier momento sin 
        previo aviso, a nuestra sola discreción.  Nos reservamos el derecho de discontinuar 
        cualquier producto en cualquier momento.  Cualquier oferta de producto o servicio hecho 
        en este sitio es nulo donde esté prohibido.

        No garantizamos que la calidad de los productos, servicios, información u otro material 
        comprado u obtenido por ti  cumpla con tus expectativas, o que cualquier error en el 
        Servicio será corregido.
    </font></samp></h4>
</div>
<br>
<div>
    <h2> <font color="dark blue"> Exactitud de facturacion e informacion de la cuenta </font> </h2>
    <h4  align='justify'><samp><font color="grey", size="4px">               
        Nos reservamos el derecho de rechazar cualquier pedido que realice con nosotros. 
        Podemos, a nuestra discreción, limitar o cancelar las cantidades compradas por persona, 
        por hogar o por pedido. Estas restricciones pueden incluir pedidos realizados por o bajo
         la misma cuenta de cliente, la misma tarjeta de crédito, y/o pedidos que utilizan la 
         misma facturación y/o dirección de envío.
<br>
<br>
        En el caso de que hagamos un cambio o cancelemos una orden, podemos intentar notificarte 
        poniéndonos en contacto vía correo electrónico y/o dirección de facturación / número de 
        teléfono proporcionado en el momento que se hizo pedido. Nos reservamos el derecho de 
        limitar o prohibir las órdenes que, a nuestro juicio, parecen ser colocado por los 
        concesionarios, revendedores o distribuidores.
<br>
<br>
        Te comprometes a proporcionar información actual, completa y precisa de la compra y 
        cuenta utilizada para todas las compras realizadas en nuestra tienda. Te comprometes a
         actualizar rápidamente tu cuenta y otra información, incluyendo tu dirección de correo 
         electrónico y números de tarjetas de crédito y fechas de vencimiento, para que podamos 
         completar tus transacciones y contactarte cuando sea necesario.
    </font></samp></h4>
</div>
<br>
<div>
    <h2> <font color="dark blue"> Exactitud de facturacion e informacion de la cuenta </font> </h2>
    <h4  align='justify'><samp><font color="grey", size="4px">               
        Es posible que te proporcionemos acceso a herramientas de terceros a los cuales no
         monitoreamos y sobre los que no tenemos control ni entrada.

        Reconoces y aceptas que proporcionamos acceso a este tipo de herramientas "tal cual" y 
        "según disponibilidad" sin garantías, representaciones o condiciones de ningún tipo y sin
         ningún respaldo.  No tendremos responsabilidad alguna derivada de o relacionada con tu 
         uso de herramientas proporcionadas por terceras partes.
<br>
<br>
        Cualquier uso que hagas de las herramientas opcionales que se ofrecen a través del 
        sitio bajo tu propio riesgo y discreción y debes asegurarte de estar familiarizado y 
        aprobar los términos bajo los cuales estas herramientas son proporcionadas por el o los 
        proveedores de terceros.
<br>
<br>
        También es posible que, en el futuro, te ofrezcamos nuevos servicios y/o 
        características a través del sitio web (incluyendo el lanzamiento de nuevas herramientas y recursos). 
        Estas nuevas características y/o servicios también estarán sujetos a estos Términos de Servicio.
    </font></samp></h4>
</div>
<br>
<div>
    <h2> <font color="dark blue"> Enlaces de terceras partes </font> </h2>
    <h4  align='justify'><samp><font color="grey", size="4px">               
        Cierto contenido, productos y servicios disponibles vía nuestro 
        Servicio puede incluír material de terceras partes.
<br>
<br>
        Enlaces de terceras partes en este sitio pueden direccionarte a sitios web de terceras 
        partes que no están afiliadas con nosotros.  No nos responsabilizamos  de examinar o evaluar
        el contenido o exactitud y no garantizamos ni tendremos ninguna obligación o responsabilidad
         por cualquier material de terceros o sitos web, o de cualquier material, productos o 
         servicios de terceros.

<br>
        No nos hacemos responsables de cualquier daño o daños relacionados con la adquisición o 
        utilización de bienes, servicios, recursos, contenidos, o cualquier otra transacción 
        realizadas en conexión con sitios web de terceros.  Por favor revisa cuidadosamente las
        políticas y prácticas de terceros y asegúrate de entenderlas antes de participar en 
        cualquier transacción.  Quejas, reclamos, inquietudes o preguntas con respecto a productos 
        de terceros deben ser dirigidas a la tercera parte.
    </font></samp></h4>
</div>
<br>
<div>
    <h2> <font color="dark blue"> Usos Prohibidos </font> </h2>
    <h4  align='justify'><samp><font color="grey", size="4px">               
        En adición a otras prohibiciones como se establece en los Términos de Servicio, 
        se prohibe el uso del sitio o su contenido: (a) para ningún propósito ilegal; (b) para
        pedirle a otros que realicen o partiicpen en actos ilícitos; (c) para violar cualquier
        regulación, reglas, leyes internacionales, federales, provinciales o estatales, u 
        ordenanzas locales; (d) para infringir o violar el derecho de propiedad intelectual 
        nuestro o de terceras partes; (e) para acosar, abusar, insultar, dañar, difamar, 
        calumniar, desprestigiar, intimidar o discriminar por razones de género, orientación 
        sexual, religión, tnia, raza, edad, nacionalidad o discapacidad; (f) para presentar 
        información falsa o engañosa; (g) para cargar o transmitir virus o cualquier otro tipo 
        de código malicioso que sea o pueda ser utilizado en cualquier forma que pueda comprometer
        la funcionalidad o el funcionamientodel Servicio o de cualquier sitio web relacionado,
        otros sitios o Internet; (h) para recopilar o rastrear información personal de otros; 
        (i) para generar spam, phish, pharm, pretext, spider, crawl, or scrape; (j) para cualquier 
        propósito obsceno o inmoral; o (k) para interferir con o burlar los elementos de seguridad 
        del Servicio o cualquier sitio web relacionado¿ otros sitios o Internet. Nos reservamos el
        derecho de suspender el uso del Servicio o de cualquier sitio web relacionado por violar 
        cualquiera de los ítems de los usos prohibidos.
    </font></samp></h4>
</div>
<br>
<div>
    <h2> <font color="dark blue"> Informacion Personal </font> </h2>
    <h4  align='justify'><samp><font color="grey", size="4px">               
        Tu presentación de información personal a través del sitio se rige por 
        nuestra Política de Privacidad. Para ver nuestra Política de Privacidad.
    </font></samp></h4>
</div>
<br>
<div>
    <h2> <font color="dark blue"> Acuerdo Completo </font> </h2>
    <h4  align='justify'><samp><font color="grey", size="4px">               
        Nuestra falla para ejercer o hacer valer cualquier derecho o disposiciôn
         de estas Condiciones de Servicio no constituirá una renucia a tal derecho o disposición.
<br>
<br>
        Estas Condiciones del servicio y las políticas o reglas de operación publicadas por 
        nosotros en este sitio o con respecto al servicio constituyen el acuerdo completo y el 
        entendimiento entre tu y nosotros y rigen el uso del Servicio y reemplaza cualquier acuerdo,
         comunicaciones y propuestas anteriores o contemporáneas, ya sea oral o escrita, entre tu 
         y nosotros (incluyendo, pero no limitado a, cualquier versión previa de los Términos de 
         Servicio).
<br>
<br>
        Cualquier ambigüedad en la interpretación de estas Condiciones del servicio no se 
        interpretarán en contra del grupo de redacción.
    </font></samp></h4>
</div>
<br>
<div>
    <h2> <font color="dark blue"> Ley </font> </h2>
    <h4  align='justify'><samp><font color="grey", size="4px">               
        Estas Condiciones del servicio y cualquier acuerdos aparte en el que te 
        proporcionemos servicios se regirán e interpretarán en conformidad con las leyes de 
        Residencial, Lomas del Gijarro, Tegucigalpa, FM, 010011, Honduras.
<br>
</div>
<br>
<div>
    <h2> <font color="dark blue"> Cambios en los Terminos de Servicios </font> </h2>
    <h4  align='justify'><samp><font color="grey", size="4px">               
        Puedes revisar la versión más actualizada de los Términos de Servicio en cualquier
         momento en esta página.

        Nos reservamos el derecho, a nuestra sola discreción, de actualizar, modificar o
        reemplazar cualquier parte de estas Condiciones del servicio mediante la publicación
        de las actualizaciones y los cambios en nuestro sitio web. Es tu responsabilidad revisar 
        nuestro sitio web periódicamente para verificar los cambios. El uso contínuo de o el 
        acceso a nuestro sitio Web o el Servicio después de la publicación de cualquier cambio
        en estas Condiciones de servicio implica la aceptación de dichos cambios.
</div>
<br>
<div>
    <h2> <font color="dark blue"> Contacto</font> </h2>
    <h4  align='justify'><samp><font color="grey", size="4px">               
        email: ingsoftwareunah2@gmail.com
</div>

{% endblock %}





