{% extends 'core/sidebar.html' %}
{% load static %}
{% block css %}
    <link href="{% static 'core/css/card-img-top.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2"> 
            <a href="{% url 'create' %}" class="btn btn-primary m-1">Nuevo Anuncio</a>
        </div>
        {% for data in ads_data %}
          <div class="col-md-3"> 
          {% if data.id_user == request.user %}
            <div class="card border-left-{% cycle 'primary' 'info' 'success' 'secondary' 'danger' 'warning' %} shadow h-100 pb-2">
              {% if data.ad_images.count == 1 %}
                {% for img in data.ad_images.all %}
                <img class="card-img-top img-fluid" src="{{img.img_route.url}}" alt="Card image cap">
                {% endfor %}
              {% else %}
              <div id="carouselAd{{ data.pk }}" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  {% for img in data.ad_images.all %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                      <img class=" card-img-top d-block w-100" src="{{img.img_route.url}}">
                    </div>
                  {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselAd{{ data.pk }}" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselAd{{ data.pk }}" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
              {% endif %}
              <div class="card-body">
                <h5 class="card-title">{{data.ad_name}} </h5>
                <h6>{% if data.id_store != None %} {{data.id_store}} {% endif %}</h6>
                <p class="card-text">{{data.ad_description}} <strong>Precio por {{data.id_unit}}:&nbsp; {{data.price}}</strong> 
                  <a href="">{{ data.id_category }}</a>
                  {{ data.id_location }}
                </p>
                <span>{{data.date_created}}</span>
                <a href="#" class="btn btn-success">Editar</a>
                <a href="#" class="btn btn-danger">Eliminar</a>
              </div>
            </div>
            {% endif %}
          </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

id_user = models.ForeignKey(Account, on_delete=models.CASCADE)
id_store = models.ForeignKey(Store, on_delete= models.CASCADE,default=None, blank=True, null=True)
id_location= models.ForeignKey(Location, on_delete= models.CASCADE)
id_ad_kind= models.ForeignKey(AdKind, on_delete= models.CASCADE)
id_category= models.ForeignKey(Category, on_delete= models.CASCADE)
id_unit= models.ForeignKey(Unit, on_delete= models.CASCADE, default = None, blank=True, null=True)
ad_name= models.CharField(max_length=100)
ad_description= models.TextField()
price= models.FloatField()
date_created = models.DateTimeField(auto_now_add=True)
ad_images= models.ManyToManyField(Image, related_name="get_images")
