{% extends 'core/sidebar.html' %}
{% load static %}
{% block title %}Mis Tiendas{% endblock %} 
{% block navbar %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        <h1>Mis tiendas</h1>
        {% if 'added' in request.GET %}
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <strong>¡Has creado una tienda!</strong> Comienza a publicar productos con tu tienda.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        {% if my_stores.empty %}
            <div class="alert alert-secondary" role="alert">
                <h4 class="alert-heading">¡Vaya!</h4>
                <p>Al parecer aun no has creado una tienda</p>
                <hr>
                <p class="mb-0">Si no deseas vender tus articulos o brindar servicios como una persona sino que como una tienda, deberias crear una.</p>
            </div>
        {% endif %}
        {% for my_store in my_stores %}
            <div class="row">
                <div class="jumbotron w-100">
                    <h1 class="display-5 text-primary">{{my_store.store.store_name}}</h1>
                    <p class="lead">{{my_store.store.store_description}}</p>
                    <hr class="my-1">
                    <p>{{my_store.store.store_location.direction}}{% if my_store.store.store_location.correlative_direction != None %}, {{my_store.store.store_location.correlative_direction}}{% endif %}</p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="#" role="button">Manejar {{my_store.store.store_name}}</a>
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="col-md-4">
        <h1>Crear una tienda</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" name="store_name" id="id_store_name" placeholder="Nombre de la tienda">
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="2" name="store_description" id="id_store_description" placeholder="Describe tu tienda, si quieres brinda detalles de la dirección y formas de contacto."></textarea>
            </div>
            <div class="form-group">
                <select class="form-control" name="store_location" id="id_store_location">
                    {% for location in all_locations %}
                        <option value="{{location.direction}}">{{location.direction}}{% if location.correlative_direction != None %}, {{location.correlative_direction}}{% endif %}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Crear</button>
        </form>
    </div>
</div>
{% endblock %}
