{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block title %}{% endblock %} | Pa’Ya</title>
  <link href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'core/vendor/fontawesome/css/all.min.css' %}" rel="stylesheet">
  <link rel="stylesheet"href="https://fonts.googleapis.com/css?family=Tangerine">
  <link href="{% static 'core/css/footer.css' %}" rel="stylesheet">
  <link href="{% static 'core/css/custom.css' %}" rel="stylesheet">
  {% block css %}{% endblock %}

</head>

<body>
    {% block navbar %}
      {% include 'core/navbar.html' %}
    {% endblock %}
    {% block content %}
    <div class="container-fluid">
      <div class="row">
          <div class="col-2 sidebar " >
            <ul>
              <h5>Categorias</h5>
              <li> <a href=""><i class="fas fa-address-book"></i> Proveedores</a> </li>
              <li> <a href=""><i class="fas fa-address-book"></i> Proveedores</a> </li>
              <li> <a href=""><i class="fas fa-address-book"></i> Proveedores</a> </li>
              <li> <a href=""><i class="fas fa-address-book"></i> Proveedores</a> </li>


              <li> <a href=""><i class="fas fa-address-book"></i> Menor a 500</a> </li>
              <li> <a href=""><i class="fas fa-address-book"></i> Entre 500 y 1000</a> </li>
              <li> <a href=""><i class="fas fa-address-book"></i> Entre 1000 y 5000</a> </li>
              <li> <a href=""><i class="fas fa-address-book"></i> Mayor a 5000</a> </li>
              
            </ul>
          </div>










        <div class="col-10 ">
            
            <div class="row" style="padding: 10px;">
              <!--Inicio Descripcion Producto-->
              <div class="col-3">
                  <div class="card p-0" style="width: 16rem; margin-bottom: 10px;">
                        <img src="{% static 'core/img/test1.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body" style="padding: 10px;">
                            <h6 style="padding:0px;margin: 0px;">Nombre</h6>
                            <p style="font-size: 12px; margin: 0px;"> 
                                <strong>7000.00 LPS</strong> 
                                <i style="color: gold; " class="fa fa-star" aria-hidden="true"></i>
                                <i style="color: gold; " class="fa fa-star" aria-hidden="true"></i>
                                <i style="color: gold; " class="fa fa-star" aria-hidden="true"></i>
                                <i style="color: gold; " class="fa fa-star" aria-hidden="true"></i>
                                <i style="color: gold; " class="fa fa-star" aria-hidden="true"></i>
                                <a href="">Contactar</a>
                            </p> 
                        </div>
                   </div>
               </div> 
              <!--Fin-->
              

            </div>
        </div>
      </div>
    </div>


{% endblock %}
      <footer class="bg-light">
        {% block footer %}{% endblock %}
          <div class="row">
            <div class="col text-center">
              <p class="text-muted">Derechos reservados &copy; 2020 Pa’Ya</p>
            </div>
        </div>
    </footer>
  


    <script src="{% static 'core/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'core/vendor/fontawesome/js/all.min.js' %}"></script>
    <script src="{% static 'core/js/max-date-today.js' %}"></script>
    <script src="{% static 'core/js/resize-select.js' %}"></script>
    {% block js %}
    {% endblock %}
</body>

</html>