{% extends 'core/base.html' %}

{% block content %}
<div class="d-flex" id="wrapper">
    <!-- Navbar lateral -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Filtrar por... </div>
        <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action bg-light">Categoría</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Región</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Precio</a>
        </div>
    </div>
    <!-- FIN Navbar lateral -->
    <div id="page-content-wrapper">
        <!--Navbar superior-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xs-8 col-xs-offset-2">
                        <div class="input-group">
                            <a class="btn btn-light" id="menu-toggle"><i class="fas fa-chevron-left"></i></a>
                            <a class="navbar-brand" href="#">APP</a>
                            <div class="input-group-btn search-panel">

                                <button type="button" class="btn btn-default dropdown-toggle"
                                    data-toggle="dropdown">
                                    <span id="search_concept">Todo</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#contains" class="text-muted">Todo</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#c1" class="text-muted">Categoría 1</a></li>
                                    <li><a href="#c2" class="text-muted">Categoría 2</a></li>
                                    <li><a href="#c3" class="text-muted">Categoría 3</a></li>
                                    <li><a href="#c4" class="text-muted">Categoría 4</a></li>
                                </ul>
                            </div>
                            <input type="hidden" name="search_param" value="all" id="search_param">
                            <input type="text" class="form-control" name="x" placeholder="Ando en busca de...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><i class="fas fa-search"></i></button>
                            </span>
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>



            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Iniciar sesión</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Regístrate</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!--FIN Navbar superior-->
        <!-- Contenido -->

        <div class="container-fluid">
            <h1 class="mt-4">Contenido Aqui</h1>
            <p>Aqui debería estar todo el contenido a mostrar</p>
        </div>
{% endblock %}
