{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block title %}Inicio{% endblock %} | Pa’Ya</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'core/vendor/fontawesome/css/all.min.css' %}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'core/css/theme.css' %}" rel="stylesheet">
  {% block css %}{% endblock %}

</head>

<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Sidebar -->

    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
   

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'home' %}">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fab fa-product-hunt"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Pa'Ya</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item {% if request.user.is_authenticated %}active{% endif %}">
        <a class="nav-link" href="{% url 'home' %}">
          <i class="fas fa-home"></i>
          <span>Inicio</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Filtros
      </div>
      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePrices" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-money-bill-wave"></i>
          <span>Precio</span>
        </a>
        <div id="collapsePrices" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Rango de precio</h6>
            {% for price_range in price_ranges %}
              <a class="collapse-item" onclick="searchRange({{price_range.min_price}},{{price_range.max_price}},{{price_range.currency.id}});">{{price_range}}</a>
            {% endfor %}
              <a class="collapse-item" hidden></a>
            <div class="collapse-item">
              <div class="form-row mx-0">
                <div class="form-group col-md-5">
                  <input type="text" class="form-control form-control-sm" id="minPrice" placeholder="Min">
                </div>
                <div class="form-group col-md-5">
                  <input type="text" class="form-control form-control-sm" id="maxPrice" placeholder="Max">
                </div>
                <div class="form-group col-md-2">
                  <button class="btn btn-primary btn-sm">Ir</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLocations" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-location-arrow"></i>
          <span>Lugar</span>
        </a>
        <div id="collapseLocations" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Departamento</h6>
            {% for location in locations %}
              <a class="collapse-item" onclick="searchLocation('{{location.direction}}');">{{location.direction}}</a>
            {% endfor %}
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Perfil
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      {% if request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'profile-edit' request.user.pk  %}">
          <i class="fas fa-edit"></i>
          <span>Editar</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'my_products' %}">
          <i class="fas fa-cube"></i>
          <span>Mis Productos</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'my_stores' %}">
          <i class="fas fa-store-alt"></i>
          <span>Mis Tiendas</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Mis Estadisticas</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#logoutModal">
          <i class="fas fa-sign-out-alt"></i>
          <span>Salir</span></a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'signup' %}">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Regístrate</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'login' %}">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Ingresar</span></a>
      </li>
      {% endif %}

      <!-- Nav Item - Tables >
      <li class="nav-item">
        <a class="nav-link" href="tables.html">
          <i class="fas fa-fw fa-table"></i>
          <span>Tables</span></a>
      </li-->

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <div class="input-group-prepend">
                <select class="btn btn-primary resize-select" name="category" id="search_category">
                  <option value="0">Todo</option>
                  {% for category in categories %}
                    <option value="{{category.id}}">{{category.category_name}}</option>
                  {% endfor %}
                </select>
              </div>
              <input type="text" class="form-control bg-light border-0 small" placeholder="Estoy buscando..." aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
            {% if request.user.is_authenticated %}
            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <select class="btn btn-primary resize-select" name="category" id="search_category">
                        <option value="0">Todo</option>
                        {% for category in categories %}
                          <option value="{{category.id}}">{{category.category_name}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Estoy buscando..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>
            
            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <!-- Counter - Alerts -->
                <span class="badge badge-danger badge-counter">3+</span>
              </a>
              <!-- Dropdown - Alerts -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  Notificaciones
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-primary">
                      <i class="fas fa-file-alt text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">Junio 15, 2020</div>
                    <span class="font-weight-bold">Tu Proveedor "Alexis" ha publicado un nuevo producto!</span>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-success">
                      <i class="fas fa-donate text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">MAyo 2, 2029</div>
                    Tu Proveedor Alexis Matamoros esta cumpliendo añosn regalale un poco de dinero!
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-warning">
                      <i class="fas fa-exclamation-triangle text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">Octubre 5, 2029</div>
                    Tienen una nueva notificacion de SADJAMIN!
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Mostrar todas las Alertas</a>
              </div>
            </li>

            <!-- Nav Item - Messages -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw"></i>
                <!-- Counter - Messages -->
                <span class="badge badge-danger badge-counter">7</span>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                  Centro de Mensajes
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/fn_BT9fwg_E/60x60" alt="">
                    <div class="status-indicator bg-success"></div>
                  </div>
                  <div class="font-weight-bold">
                    <div class="text-truncate">Hola, me preguntaba si todavia tienes esa motocierra electrica</div>
                    <div class="small text-gray-500">Emily Fowler · 58m</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/AU4VPcFN4LE/60x60" alt="">
                    <div class="status-indicator"></div>
                  </div>
                  <div>
                    <div class="text-truncate">Niños, Niños, lleve sus niños de la deep web!</div>
                    <div class="small text-gray-500">Jae Chun · 1d</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/CS2uCrpNzJY/60x60" alt="">
                    <div class="status-indicator bg-warning"></div>
                  </div>
                  <div>
                    <div class="text-truncate">Estoy feliz le compr el niño al chino aquel!</div>
                    <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" alt="">
                    <div class="status-indicator bg-success"></div>
                  </div>
                  <div>
                    <div class="text-truncate">Tons ka, me va bender el astereo?</div>
                    <div class="small text-gray-500">Chicken the Dog · 2w</div>
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Leer todos los mansajes</a>
              </div>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{request.user.first_name}}&nbsp;{{request.user.last_name}}</span>
                <img class="img-profile rounded-circle" src="{{request.user.profile_img.url}}">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="{% url 'profile-edit' request.user.pk  %}">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Perfil
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Tiendas
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Configuracion
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Cerrar Sesion
                </a>
              </div>
            </li>

          </ul>

        </nav>
        {% else %}
        <li class="nav-item"> <a class="btn btn-link" href="{% url 'signup' %}" >Regístrate</a> </li>
        <li class="nav-item active"> <a href="{% url 'login' %}" class="btn btn-primary" >Ingresar</a> </li>
      </ul>
    </nav>
        <!-- End of Topbar -->
        {% endif %}


        <!-- Begin Page Content -->
        <div class="container-fluid">
          {% block content %}
            <div class="row">
              {% for category in categories %}              
                <div class="col-md-3 mb-4">
                  <div class="card border-left-{% cycle 'primary' 'info' 'success' 'secondary' 'danger' 'warning' %} shadow h-100 py-2">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{category.category_name}}</div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800">{{category.category_description}}</div>
                        </div>
                        <div class="col-auto">
                          <i class="{{category.category_icon_class}} fa-2x"></i>
                        </div>
                      </div>
                      <div class="row">
                        <a href="#" class="btn btn-link">Buscar en {{category.category_name}}</a>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          {% endblock %}
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
    <footer class="sticky-footer bg-light">
        {% block footer %}{% endblock %}
          <div class="row">
            <div class="col text-center">
              <p class="text-muted">Derechos reservados &copy; 2020 Pa’Ya</p>
            </div>
        </div>
    </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">¿Listo para cerrar sesión?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Esperamos tengas un buen día, te esperamos de nuevo pronto.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
          <a class="btn btn-primary" href="{% url 'logout' %}">Cerrar Sesion</a>
        </div>
      </div>
    </div>
  </div>

<!-- Bootstrap core JavaScript-->
<script src="{% static 'core/vendor/jquery/jquery.js' %}"></script>
<script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.js' %}" ></script>
<script src="{% static 'core/js/resize-select.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'core/vendor/jquery-easing/jquery.easing.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'core/js/sb-admin-2.js' %}"></script>
{% block js %}
{% endblock %}
</body>

</html>
