{% extends 'core/sidebar.html' %}
{% load static %}
{% block title %}Editar Mi Perfil{% endblock %} 
{% block css %}
    <link href="{% static 'core/css/img-usuario.css' %}" rel="stylesheet">
{% endblock %}
{% block navbar %}
{% endblock %}
{% block content %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h2>Perfil</h2>
                </div>
                <div class="col-md-12">
                    <h3>{{request.user.get_full_name}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img class="img-usuario bg-secondary" src="{{request.user.profile_img.url}}">
                </div>
                <div class="col-md-8 mb-2">
                    <div id="form-edit-profile">
                        <form class="edit-profile" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group my-0 py-2">
                                        <label for="id_first_name" class="text-muted">Nombre</label>
                                        <input readonly value="{{ request.user.first_name }}" type="text" name="first_name" maxlength="50" required class="form-control" id="id_first_name" placeholder="Nombre">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group my-0 py-2">
                                        <label for="id_last_name" class="text-muted">Apellido</label>
                                        <input readonly value="{{ request.user.last_name }}" type="text" name="last_name" maxlength="50" required class="form-control" id="id_last_name" placeholder="Apellido">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group my-0 py-2 text-left">
                                <label for="id_birth_date" class="text-muted">Fecha de nacimiento</label>
                                <input readonly value="{{ request.user.birth_date |date:'Y-m-d'  }}" type="date" name="birth_date" required class="form-control today" id="id_birth_date">
                            </div>
                            <div class="form-group my-0 py-2">
                                <label for="id_phone_number" class="text-muted">Número de teléfono</label>
                                <input readonly value="{{ request.user.phone_number }}" type="text" name="phone_number" maxlength="8" minlength="8" required class="form-control" id="id_phone_number" placeholder="Número de teléfono">
                            </div>
                            <div class="form-group my-0 py-2">
                                <label for="id_address" class="text-muted">Dirección</label>
                                <textarea readonly class= 'form-control' name="address" rows="2" required id="id_address" placeholder="Dirección">{{ request.user.address }}</textarea>
                            </div>
                            <div hidden id="update_div">
                            <div class="form-group my-0 py-2">
                                <div class="custom-file">
                                    <input readonly type="file" class="custom-file-input" id="id_profile_img" name="profile_img" accept="image/*">
                                    <label class="custom-file-label" for="id_profile_img">Foto de perfil</label>
                                </div>
                            </div>
                            <button id="id-btn-actualizar" type="submit" class="btn btn-primary btn-block">Actualizar perfil</button>
                            </div>
                        </form>
                    </div>
                    <div id="form-change-password" hidden>
                        <form action="" id="id-change-password" method="post">
                            <h3 class="mb-0 mt-3">Cambiar contraseña</h3>
                            {% csrf_token %}
                            <div class="form-group my-0 py-2 text-left">
                                <label for="id_old_password" class="text-muted">Contraseña actual</label>
                                <input type="password" name="iold_password" required class="form-control" id="id_old_password" placeholder="Contraseña actual">
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group my-0 py-2">
                                        <label for="id_new_password1" class="text-muted">Nueva contraseña</label>
                                        <input type="password" name="new_password1" required class="form-control" id="id_new_password1" placeholder="Nueva contraseña">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group my-0 py-2">
                                        <label for="id_new_password1" class="text-muted">Confirma contraseña</label>
                                        <input type="password" name="new_password2" required class="form-control" id="id_new_password2" placeholder="Confirma contraseña">
                                    </div>
                                </div>
                            </div>
                            <ul>
                                <li><small id="passwordHelp" class="form-text text-muted mt-0 pt-0 text-left">Mínimo 8 carcateres</small></li>
                                <li><small id="passwordHelp" class="form-text text-muted mt-0 pt-0 text-left">No puede ser una contraseña de uso común</small></li>
                                <li><small id="passwordHelp" class="form-text text-muted mt-0 pt-0 text-left">No puede ser completamente numérica</small></li>
                                <li><small id="passwordHelp" class="form-text text-muted mt-0 pt-0 text-left">No puede ser muy similar a su otra información personal</small></li>
                            </ul>
                            <button id="id-btn-actualizar" type="submit" class="btn btn-primary btn-block">Actualizar contraseña</button>
                        </form>
                    </div>
                    <a href="" id="link_activar_formulario" class="text-muted"><i class="fas fa-edit"></i> Editar mi perfil</a>
                    <br>
                    <a href="" id="link_cambiar_password" class="text-muted"><i class="fas fa-edit"></i> Cambiar contraseña</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 my-3">
                    <a href="#" class="btn btn-block btn-primary btn-lg">Mis productos</a>
                </div>
                <div class="col-md-4 my-3">
                    <a href="#" class="btn btn-block btn-primary btn-lg">Mis tiendas</a>
                </div>
                <div class="col-md-4 my-3">
                    <a href="#" class="btn btn-block btn-primary btn-lg">Mis estadísticas</a>
                </div>
            </div>
        </div>
{% endblock %}
{% block js %}
    <script src="{% static 'core/js/profile-update.js' %}"></script>
    <script src="{% static 'core/js/file-label-change.js' %}"></script>
    <script src="{% static 'core/js/max-date-today.js' %}"></script>
{% endblock %}